
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}
h1, h2 {
  color: #333;
}
input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}
button {
  background-color: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
#app, #login-screen, #alterar-password-screen {
  max-width: 400px;
  margin: auto;
}
#topo-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#utilizador-logado {
  font-weight: bold;
  color: #333;
}

#btn-logout {
  padding: 5px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
